
# Created by https://www.gitignore.io/api/tags

### Tags ###
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
.tags
tags
tags.lock
tags.temp
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out

*.orig

# End of https://www.gitignore.io/api/tags
